-
  const first = [
    { href: '#', text: 'Ремонт пластиковых окон' },
    { href: '#', text: 'Ремонт деревянных окон' },
    { href: '#', text: 'Ремонт алюминиевых окон' },
    { href: '#', text: 'Замена стеклопакета' }
  ]

  const second = [
    { href: '#', text: 'Москитные сетки' },
    { href: '#', text: 'Тонировка окон' },
    { href: '#', text: 'Аксессуары' }
  ]

  const third = [
    { href: 'about.html', text: 'О компании' },
    { href: '#', text: 'Наши работы' },
    { href: '#', text: 'Контакты' }
  ]

mixin footerMenu(menuName)
  ul.footer-menu-items
    each item in menuName
      li.footer-menu__item
        a.footer-menu__link(href=item.href) !{item.text}

.footer-menu.footer-menu_01
  p.footer-menu__header Услуги
  .footer-menu__inner
    +footerMenu(first)
    +footerMenu(second)
.footer-menu.footer-menu_02
  p.footer-menu__header Общее
  +footerMenu(third)
