- var footer = false

.main-header-top
  .container
    .main-header-top__inner
      include ../sections/logo.pug
      include ../sections/search.pug
      include ../sections/phones.pug
      include ../sections/callback.pug
// main-header-top
