.feedback
  .container
    h2.feedback__header Остались вопросы по ремонту окон в Москве?
    p.feedback__subheader Проконсультируйтесь со специалистом
    form.feedback-form
      input.feedback-form__name(type='text' placeholder='Имя')
      input.feedback-form__phone(type='text' name='phone' placeholder='+7 (___) ___-__-__' required)
      button.feedback-form__submit.btn.a-btn-v(type='submit')
        span Оставить заявку
// feedback
