.logo
  a.logo__link(href="/")
    span.logo__title Ремонт окон
    span.logo__tagline Ремонт деревянных, пластиковых <br>и алюминиевых окон в Москве и области
    if footer
      include socials.pug
