.master
  .container
    .master__inner
      .master__text-part
        h2.master__header Проведем ремонт окон недорого <br>и в удобное для вас время
        p.master__subheader Мастер приедет даже в 5:00 воскресенья
        p.master__text С 2005 года занимаемся регулировкой, обслуживанием и ремонтом окон в Москве, <br>работаем с деревянными, пластиковыми, алюминиевыми конструкциями. Меняем <br>уплотнитель, фурнитуру, выравниваем геометрию створок, устанавливаем москитные <br>сетки, жалюзи и другие аксессуары
      .master__image-part
        img.master__image(src="img/master.png", alt="Мастер")
// master
