.order
  .container
    .order__inner
      .order__text-part
        h2.order__header При заказе на сумму <br>до 10 000 рублей — <br>скидка 5–10%
        a.order__button.btn.a-btn-v(href="#")
          span Закажите расчет стоимости
// order
