.phones
  .phones__stage
    a.phones__link(href="tel:+74950000000") +7 (495) 000-00-00
    span.phones__text ежедневно с 9:00 до 21:00
  .phones__stage
    a.phones__link(href="tel:+79269223472") +7 (926) 922-34-72
    span.phones__text
      span.phones__messenger.phones__messenger_whatsapp WhatsApp
      span.phones__messenger.phones__messenger_viber Viber
  if footer
    include callback.pug
